:root {
    /* Dark Theme */
    --dark-background-color: #111111;
    --dark-background-color-alt: #222222;
    --dark-trim-color: #333333;
    --dark-text-color: #eeeeee;
    --dark-icon: "🌛︎";

    --box-shadow: 0px 5px 8px rgba(0,0,0,0.2);
    --border: 1px solid rgba(0,0,0,0.2);
}

/* html {
    font-size: 16px;
} */
body {
    /* Light Theme */
    --background-color: #ffffff;
    --background-color-alt: #eeeeee;
    --trim-color: #dddddd;
    --text-color: #333333;

    --primary-color: #68f;
    --primary-color-alt: #acf;
    --font-family: 'Quicksand', sans-serif;
    --icon: "☀";

    color: var(--text-color);
    font-family: var(--font-family);
    background: var(--background-color);
}
body.theme-dark {
    --background-color: var(--dark-background-color);
    --background-color-alt: var(--dark-background-color-alt);
    --trim-color: var(--dark-trim-color);
    --text-color: var(--dark-text-color);
    --icon: var(--dark-icon);
}

@media (prefers-color-scheme: dark) {
    body.theme-auto {
        --background-color: var(--dark-background-color);
        --background-color-alt: var(--dark-background-color-alt);
        --trim-color: var(--dark-trim-color);
        --text-color: var(--dark-text-color);
    }
}

body, h1, h2 {
    margin: 0;
    padding: 0;    
} 
input {
    border: var(--border);
    padding: 0.5em;
}
button {
    border: var(--border);
    padding: 0.5em;
}
header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--primary-color);
    color: white;
    border-bottom: 1px solid var(--trim-color);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
header > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
}
h1 {
    font-size: 1.5rem;
    margin: auto 0;
}
header > div > div {
    margin: auto 0;
}
header > div > div:first-child {
    width: 25%;
}
.select {
    width: 25%;
    text-align: right;
    padding: 5px 8px;
    border-radius: 10px;
}
.select__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 7px 14px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-family: var(--font-family);
}
.select__input option {
    color: #000000;
}
.select label::after {
    content: var(--icon);
}

main {
    width: 100%;
}
.lists-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0 auto;
    padding: 1em;
    max-width: 1200px;
}
.lists-section > section {
    display: flex;
    flex-direction: column;
    flex: 1 1 12em;
    box-shadow: var(--box-shadow);
    padding: 1em;
    background-color: var(--background-color-alt);
}
.lists-section ul {
    list-style: none;
    padding: 0;
}
.lists-section h2 {
    font-size: 1rem;
}
.add-task {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    gap: 1em;
}
.add-task input {
    width: 70%;
}
.add-task button {
    width: 30%;
}

.task {
    border: var(--border);
    background: var(--primary-color);
    color: #eee;
    padding: 0.5em;
    margin: 0.5em 0;
}
