:root {
    /* Dark Theme */
    --dark-background-color: #111111;
    --dark-background-color-alt: #222222;
    --dark-trim-color: #333333;
    --dark-text-color: #eeeeee;
    --dark-button-color: #004781;
    --dark-icon: "🌛︎";
    --box-shadow: 0px 5px 8px rgba(0,0,0,0.2);
    --border: 1px solid rgba(0,0,0,0.2);
}

/* html {
    font-size: 16px;
} */
body {
    /* Light Theme */
    --background-color: #ffffff;
    --background-color-alt: #eeeeee;
    --trim-color: #dddddd;
    --text-color: #333333;
    --button-color: #008cff;
    --body-background: linear-gradient(0deg, rgba(0, 140, 255, 0.3), rgba(0, 71, 129, 0.3)), url("../images/background-image.jpg") no-repeat fixed center;

    --primary-color: #006fcc;
    --primary-color-alt: #333333;
    --font-family: 'Quicksand', sans-serif;
    --icon: "☀";

    color: var(--text-color);
    font-family: var(--font-family);
    background: var(--body-background);

    position: relative;
    min-height: 99vh;
    background-size: cover;

}
body.theme-dark {
    --background-color: var(--dark-background-color);
    --background-color-alt: var(--dark-background-color-alt);
    --trim-color: var(--dark-trim-color);
    --text-color: var(--dark-text-color);
    --button-color: var(--dark-button-color);
    --icon: var(--dark-icon);
    --body-background: var(--dark-background-color);
}

@media (prefers-color-scheme: dark) {
    body.theme-auto {
        --background-color: var(--dark-background-color);
        --background-color-alt: var(--dark-background-color-alt);
        --trim-color: var(--dark-trim-color);
        --text-color: var(--dark-text-color);
        --button-color: var(--dark-button-color);
        --icon: var(--dark-icon);
        --body-background: var(--dark-background-color);
    }
}

body, h1, h2 {
    margin: 0;
    padding: 0;    
} 
input {
    border: var(--border);
    padding: 0.5em;
    color: var(--text-color);
    background-color: var(--background-color);
}
button {
    cursor: pointer;
    border: 1px solid var(--button-color);
    background: var(--button-color);
    padding: 0.5em;
    border-radius: 0.2em;
    font-weight: bolder;
    color: white;
    transition: all 0.2s;
}
button:hover {
    background: none;
    color: var(--button-color);
    transition: all 0.2s;
}
header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--primary-color);
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
header > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
}
h1 {
    font-size: 1.5rem;
    margin: auto 0;
}
header > div > div {
    margin: auto 0;
}
header > div > div:first-child {
    width: 25%;
}
.select {
    width: 25%;
    text-align: right;
    padding: 5px 0;
    border-radius: 10px;
}
.select__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 7px 14px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-family: var(--font-family);
}
.select__input option {
    color: #000000;
}
.select label::after {
    content: var(--icon);
}

main {
    width: 100%;
}
.api-interaction > div {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em 1em 0;
    justify-content: space-between;
    align-items: center;
}
.api-interaction > div p {
    text-align: center;
    border: var(--border);
    background-color: var(--background-color-alt);
    color: var(--text-color);
    font-weight: 600;
    padding: .2em 1em;
    margin: 0;
    cursor: default;
}
.api-interaction > div p::first-letter {
    font-size: 2em;

}
.api-interaction img {
    padding: 1em;
    height: 5em;
    position: absolute;
}
.lists-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0 auto;
    padding: 1em;
    max-width: 1200px;
}
.lists-section > section {
    display: flex;
    flex-direction: column;
    flex: 1 1 12em;
    box-shadow: var(--box-shadow);
    padding: 1em;
    background-color: var(--background-color-alt);
}
.lists-section ul {
    /* background: var(--background-color); */
    list-style: none;
    /* padding: 0 0.5em; */
    padding: 0;
    /* border: var(--border); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.lists-section h2 {
    font-size: 1rem;
}
.add-task {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    gap: 1em;
}
.add-task input {
    width: 70%;
}
.add-task button {
    width: 30%;
}

.task {
    border: var(--border);
    background: var(--primary-color);
    color: #eee;
    padding: 0.5em;
    /* margin: 0.5em 0; */
    margin: 0;
    cursor: move;
    transition: opacity 0.2s;
    width: 85%;
}
.task.dragging {
    opacity: 0.5;
    transition: opacity 0.2s;
}

footer {
    display: flex;
    margin: auto;
    background: var(--background-color-alt);
    color: var(--black);
    padding: 1em 0;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
footer .copyright {
    margin: 0 auto;
    font-size: 18px;
}

.red-bg-color {
    background: red !important;
    color: white !important;
    transition: all 0.3s;
}

.info-icon {
    /* display: inline; */
    /* width: 10%; */
    font-size: 1.2em;
    padding: 0.2em;
    cursor: pointer;
    transition: all 0.2s;
}
.info-icon:hover {
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    transition: all 0.3s;
}

.info-div {
    position:absolute;
    transform:translate(-50%,-50%);
    border: var(--border);
    background: var(--trim-color);
    z-index: 1;
    padding: 1em;
}
.info-div ul {
    margin: 0;
    padding-left: 1em;
}
.info-div ul li {
    font-size: 0.7em;
}
.info-div ul li::before {
    font-weight: bold;
    content: attr(data-highlightword);
}




.display-none {
    display: none;
}

.text-cursor {
    cursor: text;
}